* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  header,footer{
   display: flex;
   background-color: #026138;
   width: 100%;
   height: 65px;
   align-items: center;
   padding: 15px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: white;
   font-size: 30pt;
   border: double 0.5px #0a2e1e;
   flex-grow: 1;}

   footer{
    display: flex;
    width: 100%;
    height: 65px;
    padding: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30pt;
    }

  header img{
    width:60px;
    height: 70px;
    margin: 4%;
    margin-top: 80px;
  }
  #imgFundo{
    opacity: 10%;
  }
  
 
  h1 {
    font-size: 24px;
    color: grey;
  }
  
  h2 {
    font-size: 20px;
    color: #ffffff;
  }
  
  main {
    background-color: white;
  }
  
  section {
    width: 95%;
    padding: 20px;
  }
.fotosTimes{
  width: 85%;
  margin: 70px 10%;
  display: flex;
}
.fotosTimes img{
  width: 24%;
  height: 200px;
  margin: 0 3px;
  border: 2px solid brown;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}
h4, h2, .conteudo p, h5, .conteudo img{
  padding: 1% 4%;
  max-width: 80%;
  margin-left: 10%;
  color: black;
  
}
p{
  text-indent: 2em;
}
.jogadoresTimes{
  display: flex;
  align-items: center;
  border: 1px dashed brown;
  border-radius: 10px;
  width: 80%;
  margin: 10px 10%;
  height: 200px;
  padding: 2% ;
  justify-content: space-between;
  
  

}
.jogadoresTimes p {max-width: 70%;}
.jogadoresTimes img{
  max-width: 30%;
  max-height: 170px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}

/* TABLETS */
@media only screen and (max-width: 1024px) {
    header, footer {
      height: 50px;
      font-size: 20pt;
      padding: 10px;
    }
  
    header img {
      width: 40px;
      height: 50px;
      margin-top: 50px;
    }
  
    .fotosTimes img {
      width: 50%;
      height: auto;
      margin-bottom: 25px;
    }
  
    h4, h2, .conteudo p, h5, .conteudo img {
      max-width: 95%;
      margin-left: 2%;
    }
    
    h4{
        margin-top: 20px;
    }

    .jogadoresTimes {
      width: 90%;
      margin: 0 0 10px 10px;

    }
  
    .jogadoresTimes p {
      max-width: 60%;
    }
  

    footer{
        font-size: 25px;
        padding: 15px;
    }

    .conteudo{
        font-size: 18px;
        margin: 0 20 0 20;
        text-align: justify;
        align-items: center;
    }

    .fotosTimes img.hide-on-mobile {
        display: none;
      }

    .jogadoresTimes img {
        max-width: 50%;
        max-height: auto;
        margin: 10px;
      }

    .fotosTimes{
        flex-direction: column;
        align-items: center;
    }
  }
  
  /* CELULARES */
  @media only screen and (max-width: 480px) {
    header{
      height: 40px;
      font-size: 16pt;
    }
   
    footer{
        font-size: 14px;
        padding: 10px;
    }

    header img {
      width: 30px;
      height: 40px;
      margin-top: 30px;
    }
  
    .fotosTimes {
      flex-direction: column;
      align-items: center;
    }
  
    .fotosTimes img {
      width: 70%;
      margin: 5px;
      height: auto;
    }
  
    h2, .conteudo p, h5{
      max-width: 80%;
    }

    .conteudo img{
        display: none;
    }


    .conteudo{
        font-size: 15px;
        margin: 0 20 0 20;
        text-align: justify;
        align-items: center;
    }

    h4{
        text-align: center;
        font-size: 15px;
        margin-top: 20px;
    }
  
    .jogadoresTimes {
      flex-direction: column;
      width: 80%;
      height: auto;
    
    }
  
    .jogadoresTimes p {
      max-width: 100%;
      margin: 10px;
      padding: 5px;
    }
  
    .jogadoresTimes img {
      max-width: 50%;
      max-height: auto;
      margin: 10px;
    }
  }
